<script lang="ts">
export default {
  name: 'BxTextInput'
}
</script>

<script setup lang="ts">
interface Props {
  modelValue?: string
}

withDefaults(defineProps<Props>(), {
  modelValue: ''
})

const emit = defineEmits<{
  (e: 'update:modelValue', v: string) : void
}>()

const updateModel = (ev: Event) => {
  emit('update:modelValue', (ev.target as HTMLInputElement).value)
}
</script>

<template>
  <input @input="updateModel" />
</template>